* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s;
}

ul, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

button {
    color: inherit;
    cursor: pointer;
}

body {
    font-family: 'Inter', sans-serif ;
    color: #18216D;
    margin: 0;
}

section {
    margin-bottom: 130px;
}

.container {
    max-width: 1600px;
    width: 100%;
    padding: 0 12.5%;
    margin: 0 auto;
}

.header {
    padding: 25px 0 0;
}

.header__container {
    padding: 0 6.5%;
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
}

.header__logo:hover {
    color: #18216D;
}

.logo__title {
    margin-left: 7px;
    font-weight: 600;
    font-size: 20px;
}

.header__menu {
    margin-left: 110px;
}

.menu__list {
    display: flex;
    align-items: center;
}

.menu__item {
    margin-right: 40px;
    font-weight: 500;
    font-size: 18px;
}

.menu__item:last-child {
    margin-right: 0;
}

.header__buttons {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.mobile__menu {
    display: none;
}

.button {
    padding: 16px 27px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 17px;
    transition: 0.5s;
}

.button:hover {
    opacity: 0.6;
    transition: 0.5s;
}

a:hover {
    color: red;
    transition: 0.5s;
}

.button--transparent {
    border: transparent;
    background-color: transparent;
    margin-right: 10px;
    font-size: 18px;
}

.button--blue {
    background-color: #18216D;
    border: #18216D;
    color: #ffff;
}

.button--green {
    background: #00ECD0;
    border: #00ECD0;
}

.page__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 16px;
}

.page__subtitle {
    font-weight: 400;
    font-size: 17px;
    line-height: 28px;
    margin-bottom: 34px;
}

.page__content {
    display: flex;
    align-items: center;
    padding: 80px 0;
    position: relative;
}

.page__content::after {
    content: url('../image/Vector.png');
    position: absolute;
    bottom: 25%;
    right: 60%;
}

.companies__text-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.companies__text {
    width: 42%;
}

.companies__title {
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
}

.statistic {
    display: flex;
}

.statistic__download {
    margin-right: 93px;
}

.statistic__number {
    font-weight: 700;
    font-size: 60px;
    letter-spacing: -1px;
}

.statistic__icons {
    margin: 10px 0 12px;
    display: flex;
}

.icon__heart {
    margin-right: 5px;
}

.icon__heart:last-child {
    margin-right: 0;
}

.icon__star {
    margin-right: 6px;
}

.icon__star:last-child {
    margin-right: 0;
}

.statistic__desc {
    font-style: 400px;
    font-size: 16px;
}

.companies__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.features__text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 70px;
}

.features__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 12px;
}

.features__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    width: 50%;
}

.features__list {
    display: flex;
}

.features__item {
    margin-right: 80px;
}

.features__item:last-child {
    margin-right: 0;
}

.feature__icon {
    margin-bottom: 28px;
}

.feature__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 14px;
}

.feature__desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    opacity: 0.6;
    margin-bottom: 30px;
}

.feature__link {
    font-weight: 500;
    font-size: 20px;
    line-height: 16px;
}

@media (max-width: 480px) {

    section {
        margin-bottom: 50px;
    }

    .container {
        padding: 0 7%;
    }

    .header__container {
        justify-content: space-between;
        padding: 0 7.5%;
    }

    .logo {
        height: 20px;
        width: 20px;
    }

    .logo__title {
        font-size: 13px;
    }

    .header__menu {
        display: none;
    }

    .header__buttons {
        display: none;
    }

    .mobile__menu {
        display: block;
        cursor: pointer;
    }

    .page__content {
        flex-direction: column;
        padding: 50px 0;
    }

    .page__content::after {
        display: none;
    }

    .page__text-section {
        text-align: center;
        margin-bottom: 50px;
    }

    .page__title {
        font-size: 28px;
        line-height: 27px;
        margin-bottom: 20px;
    }

    .page__subtitle {
        font-size: 14px;
        line-height: 20px;
    }

    .button {
        padding: 11px 17px;
    }

    .button--green {
        font-size: 14px;
        line-height: 17px;
    }

    .hero__img {
        height: 300px;
        width: 350px;
    }

    .companies__text-section {
        flex-direction: column;
    }

    .companies__text {
        width: 100%;
        margin-bottom: 20px;
    }

    .companies__title {
        font-size: 20px;
        line-height: 30px;
    }

    .statistic {
        justify-content: center;
    }

    .statistic__number {
        font-size: 24px;
    }

    .statistic__download {
        margin-right: 70px;
    }

    .icon__heart, .icon__star {
        height: 8px;
        width: 9px;
        margin-right: 3px;
    }

    .statistic__desc {
        font-size: 8px;
    }

    .companies__logo {
        height: 16px;
        width: 70px;
    }

    .companies__logo--invisible {
        display: none;
    }

    .features__title {
        font-size: 24px;
        line-height: 24px;
        letter-spacing: -1px;
    }

    .features__subtitle {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.02em;
        opacity: 0.5;
        width: 100%;
    }

    .features__list {
        flex-direction: column;
    }

    .features__item {
        margin-right: 0;
        margin-bottom: 45px;
    }
    
    .features__item:last-child {
        margin-bottom: 0;
    }

    .feature__link {
        font-size: 20px;
        line-height: 16px;
    }

    .feature__icon {
        margin-bottom: 20px;
    }

    .feature__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .feature__desc {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .icon__feature {
        height: 48px;
        width: 48px;
    }
}